
.feature_page {
    background-color: #f6f2ef;
}
.feature_container {
    color: #283c46;
    background-color: #f6f2ef;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
}

.feature_index {
    background-color: white;
    width: 80%;
    position: relative;
    max-width: 58em;
    min-height: 100vh;
    font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 grey;
    margin-top: 2em; 
}

.feature_index-container {
    margin: 20px; 
}

.feature_index-feature_name {
    font-size: 1.4em; 
    font-weight: bold; 
    border-bottom: 1px solid black; 
    padding-bottom: 0.5em; 
    display: flex; 
    justify-content: center; 
}

.form_container {
    border-top: 0.1em solid lightgrey; 
    padding: 0.5em; 
}

.form-submit_button {
    background-color: green;
    border-radius: 3em; 
    color: #fff; 
    padding: 0.5em 1em; 
}

.form-submit_button:hover {
    background-color: darkgreen;
}