// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.meesages_container {
    background-color: #f6f2ef;
    display: flex; 
    justify-content: center; 
}

.messages_index {
    color: #283c46;
    background-color: #fff;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: "Graphik", "Helvetica Neue", helvetica, "Apple Color Emoji", arial, sans-serif;
    width: 70%;
}