// Place all the styles related to the api/messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message_index-contents {
    display: block; 
    height: 80px; 
    margin: 10px; 
}

.message_index-title {
    font-size: 1.2em; 
    font-weight: bold; 
    text-decoration: underline; 
}

.message_index-body {
}

.message_empty-guide_box {
    background-color: #fffae5;
    border: 1px solid #ecc542;
    border-radius: 0.5rem;
    color: rgba(0,0,0,0.85);
    width: 90%;
    padding: 1rem;
    margin: 2rem auto;  
}

.message_empty-guide_box h3 {
    margin: 0.3em auto;
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.message_empty-guide_box p {
    margin: 0.3em auto; 
    display: flex;
    justify-content: space-around;
    width: 80%;
}