
body {
  font-family: 'Abel', sans-serif;
  background: #f6f2ef;
  font-size: 17px;
}

.login {
  font-size: 20px;
  margin: 0 0 20px;
  background: #f6f2ef;
}

 .index-image {
   max-height: 200px;
   max-width: 100px;
 }


 .button-holder {
   display: flex;
   align-items: center;
   flex-direction: column;
 }

 input.new-bench-button {
   width: 160px;
   margin-top: 10px;
 }

 button.new-bench-button {
   width: 160px;
 }

 .login-form-container {
   display: flex;
   justify-content: center;
   margin-top: 100px;
 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
 }

 .login-input {
   margin-left: 20px;
   width: 100%;
   max-width: 100%;
   border-radius: 4px;
   border: 1px solid #bfbfbf;
   background-color: white;
   transition: box-shadow 0.15s ease-in-out;
   text-decoration: none;
   font-family: inherit;
   font-size: 16px;
   color: black;
   display: inline-block;
   vertical-align: middle;
   box-sizing: border-box; 
 }

 .field-label {
   font-weight: bold;
   text-align: left;
 }

 .login-form-box {
   outline: 1px solid black;
   padding: 20px;
 }

 .filter {
   font-weight: bold;
 }

 .header-link {
   text-decoration: none;
   color: black;
 }

 hr {
   border-bottom: 1px solid grey;
 }

 .session-submit {
   text-transform: capitalize;
 }
